{%extends 'navbar.html' %}

{% block content %}
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(https://s-ec.bstatic.com/images/hotel/max1024x768/427/42752845.jpg);"></div>
                <div class="swiper-slide" style="background-image:url(http://www.eden.gr/uploads/photos/2017/03/beach_restaurant_1781.jpg);"></div>
                <div class="swiper-slide" style="background-image:url(https://www.pernerahotel.com/udata/contents//images/SplashScreens/Rooms/Splash-Family-Superior-Sea-View-Room.jpg);"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    
{%endblock%}